<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="STUDENT_MANAGEMENT_SYSTEM.Properties.Settings.Information1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Information1.mdb"
            providerName="System.Data.OleDb" />
        <add name="STUDENT_MANAGEMENT_SYSTEM.Properties.Settings.login123ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\login123.mdb"
            providerName="System.Data.OleDb" />
        <add name="STUDENT_MANAGEMENT_SYSTEM.Properties.Settings.Information123ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Information123.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>